#main{
    margin-top: 200px;
}

#loginCard {
     background-color: rgb(225, 223, 221); 
}
.bg-success {
    --bs-bg-opacity: 50%;
    background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
  }

#dashboard-container {
    margin-top: 10px;
}

.kgl-headers {
    background-color: rgb(75, 184, 122);
}
.card-body ul li:hover {
    background: #5fa783;
}
.card-body ul li:hover a {
    color: #237b2b;
}
.card-body ul li a {
    width: 100%;
    text-decoration: none;
    color: #151313;
    height: 60px;
    display: flex;
    align-items: center;

}
.card-body ul li a i {
    min-width: 60px;
    font-size: 24px;
    text-align: center;
}
.img-thumbnail{
    width: 200px;
    height: 200px;
}
.profile-container {
    width: 300px; /* Adjust as needed */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Prevents image from overflowing */
    font-family: sans-serif;
  }
  
  .header {
    background-color: #f0f0f0; /* Light gray background */
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .account-type {
    font-size: 14px;
    color: #666;
  }
  
  .profile-picture {
    color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .details {
    color: black;
    padding: 16px;
    text-align: center;
  }
  
  .name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .email {
    font-size: 14px;
    color: #666;
    margin-bottom: 16px;
  }
  
  .actions {
    display: flex;
    justify-content: center;
    gap: 8px;
  }
  
  .actions button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }
  
  .options {
    color: black;
    padding: 16px;
    border-top: 1px solid #eee;
  }
  
  .option {
    display: flex;
    align-items: center;
    padding: 8px 0;
  }
  
  .option i {
    margin-right: 16px;
    width: 20px; /* Adjust as needed */
    text-align: center;
  }
  
  .option span {
    font-size: 14px;
  }
  .containerr{
    background-image: url(/images/beansplus.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    color: #eee;
  }
  .card-header {
    color: green;
    background: #e9e3e3;
  }
  .card-header:hover {
    color: rgb(141, 121, 121);
  }