*{
    padding: o;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.topbar{
    position: fixed;
    background: #9cf6df;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    width: 100%;
    height: 60px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 2fr 10fr 0.4fr 1fr;
    align-items: center;
    z-index: 1;

}
.logo{
    color: green;
}
.search-container {
    position: relative; /* Essential for positioning the icon */
    left:650px;
    display: inline-block; /* Or block, depending on your layout */

    
  }
  
  .search-input {
    padding-left: 30px; /* Adjust this value to accommodate the icon width */
    width: 200px; /* Or whatever width you need */
    box-sizing: border-box; /* Ensures padding is included in the element's total width and height */
    padding-left: 5px; /* Adjust if you still need some space on the left */
  padding-right: 30px; /* Make space on the right for the icon */
  background-position: right 5px 
  }
  
  .search-icon {
    position: absolute;
    left: 200px; /* Adjust this to fine-tune the horizontal placement */
    top: 50%;
    transform: translateY(-50%); /* Vertically centers the icon */
    background: none; /* Remove default button background */
    border: none; /* Remove default button border */
    padding: 0; /* Remove default button padding */
    cursor: pointer; /* Indicate it's clickable */
  }
  
  .search-icon img {
    width: 20px; /* Adjust icon size as needed */
    height: 20px;
  }
  #fas{
    position: absolute;
    left: 1090px;
  }

.user{
    position: absolute;
    left: 1200px;
    width: 50px;
    height: 50px;
    
}
.user img{
    position: absolute;
    top: 0;
    left: 1200;
    height: 100%;
    width: 100%;
    object-fit: cover;

}
/* side bar settings are here*/
.sidebar{
    position: fixed;
    top: 60px;
    width: 230px;
    height: calc(100% - 60px);
    background: #299863;
    overflow-x: hidden;

}
.sidebar ul {
    margin-top:20px
}
.sidebar ul li {
    width: 100%;
    list-style: none;

}
.sidebar ul li:hover {
    background: #e8ecea;
}
.sidebar ul li:hover a {
    color: #237b2b;
}
.sidebar ul li a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;

}
.sidebar ul li a i {
    min-width: 60px;
    font-size: 24px;
    text-align: center;
}
#products{
    margin-left: 100ox;
}